.body1{
    text-align: center;
    /* width: 200px; */
    /* margin-top: 100px; */
    height: 35vw;
    font-size: 30px;
    margin-bottom: 100px;
    
}
.intro{
    position: relative;
    top: 40%;
    left: 20%;
    vertical-align: middle;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}
.creative{
    font-family: var(--font1);
}

.heading2{
    height: 35vw;
    text-align: center;
}
.heading2-title{
    font-size: 60px;
    
}

/* Regarding the data from ShowData.js */
#inner-education{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    grid-gap: 10px;
}
.listOfProjects{
    background-color: black;
    border-radius: 10px;
    padding: 10px;

    
}