@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root{
    --font1: 'Pacifico', cursive;
    --font2: 'Rubik', sans-serif;
    --font3: 'Kanit', sans-serif;
    --font4: 'Concert One', cursive;
    --font5: 'Hammersmith One', sans-serif;
    --font6: 'Acme', sans-serif;
}

html,
body
{
    height: 100vh;
    font-family: var(--font2);
    background-color: black
}
main {
    width: 100vw;
    color: white;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 25px 10px;
    
    /* display: grid; */
    /* grid-template-columns: repeat(12, 1fr); */
  }
.webgl{
    position: sticky;
}

.max-width-1{
    max-width: 70vw;
}
.max-width-2{
    max-width: 60vw;
}
.m-auto{
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: rgb(5, 5, 110);
    border-radius: 10px;
    padding: 10px;
}
.points ul{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.points ul li{
    padding: 7px ;
    font-size: 18px;
}
.points ul a{
    text-decoration: none;
    color: white;
}
.icons{
    padding: 10px;
    width: 10vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.icons a{
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.heading, p{
    font-size: 40px;
    color: white;
    transition: transform .2s;
    font-family: var(--font5);
    margin-left: 20px;
}
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: hard-light;
}